body {
  margin: 0;
  padding: 0;
  background-color: #e1ebee;
  font-family: "Times New Roman", sans-serif;
}
/*SideBar*/
.Sidebar {
  width: 18vw;
  margin: 15px;
  height: 100vh;
  padding: 10px;
  border-radius: 25px;
  background-color: #fff;
}

/*Title*/
.Title {
  margin-left: 25%;
  float: inline-start;
}

.Internshipbtn {
  margin-top: 25px;
  margin-right: 7%;
  float: inline-end;
  border-radius: 5px;
}

/*internship insights*/
.internsights {
  padding-top: 100px;
  margin-left: 25%;
  position: absolute;
}

.insterntext {
  display: block;
}
